{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "complexity": ["warn", { "max": 20 }],
        "max-lines-per-function": ["warn", { "max": 50, "skipBlankLines": true, "skipComments": true }]
    }
  }